{% extends "default.twig" %}

{% block content %}
    <section class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
        <div class="not-found text-center">
            <div class="nf-title display-1 text-purple">404</div>
            <p class="lead">Page Not Found Please go back to homepage.</p>
            <div class="separator my-4"></div>
            <div class="nf-content-btn">
                <a href="{{ path }}" class="nf-btn btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Back to Home
                </a>
            </div>
        </div>
    </section>
{% endblock %}
