{% extends 'default.twig' %}

{% block content %}
<h2 id="actual-zone"></h2>
<div class="hud">
    <ul class="hud-items">
        <li data-link="link-sword">Épée</li>
        <li data-link="link-zones">Zones</li>
        <li data-link="link-boss">Boss</li>
        <li data-link="link-pet">Animaux</li>
        <li data-link="link-rebirth">Renaissance</li>
        <li data-link="link-shop">Boutique</li>
    </ul>
</div>
{% endblock %}