{% extends 'default.twig' %}

{% block content %}

<button class="back-to-game">Revenir au menu principal</button>

<div class="zone-hud">
        <ul class="zone-items">

        </ul>
</div>

{% endblock %}