{% extends 'default.twig' %}

{% block content %}

<button class="back-to-game">Back To Homepage</button>

<div id="boss-hud">
    <ul id="boss-items">
    
    </ul>
    <div id="fight-timer"></div>
</div>

{% endblock %}