<div class="rss-bar">
    <li class="power-state">
        <ul id="power_per_second">Puissance par seconde: 0</ul>
        <ul id="power"> Puissance: 0</ul>
        <ul id="win">Victoires: 0</ul>
    </li>
</div>